streamlit==1.46.0
langchain==0.3.25
langchain-core==0.3.65
langchain-community==0.3.25
langchain-openai==0.3.24
langchain-tavily==0.2.3
langgraph==0.4.8
langgraph-checkpoint==2.1.0
langgraph-prebuilt==0.2.2
langgraph-sdk==0.1.70
langgraph-supervisor==0.0.27
langsmith==0.3.45
openai==1.88.0
tavily-python==0.7.7
requests==2.32.4
python-dotenv==1.1.0
pandas==2.3.0
numpy==2.3.0
pyarrow==20.0.0
pydantic==2.11.7
pydantic-settings==2.9.1
typing_extensions==4.14.0